// font weight
$pe-brand-font-weight-open-sans-bold: 700 !default;
$pe-brand-font-weight-open-sans-semi-bold: 600 !default;
$pe-brand-font-weight-open-sans-normal: 400 !default;
$pe-brand-font-weight-open-sans-light: 300 !default;

// border radius
$pe-brand-border-radius: 5px !default;

// padding
$pe-brand-base-padding-horizontal: 30px !default;
$pe-brand-base-padding-vertical: 30px !default;

$pe-brand-xs-padding-horizontal: 10px !default;
$pe-brand-xs-padding-vertical: 14px !default;
